In [1]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

In [2]:
dataset = pd.read_csv(r"C:\Users\koolv\Downloads\archive\Housing.csv")

dataset.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
model = LinearRegression()
features = ['area', 'bedrooms','bathrooms','stories','parking' ]

In [1]:
X = dataset[features]

X.head()

NameError: name 'dataset' is not defined

In [6]:
y = dataset['price']
X.shape

(545, 5)

In [7]:
model.fit(X,y)
pred = model.predict(X)
print(mean_absolute_error(pred,y))

909001.0525855442

In [8]:
from sklearn.model_selection import train_test_split
X_train = dataset[features] 
y_train = dataset.price,

In [9]:
X_train,X_test,y_train,y_test = train_test_split( X,y,test_size=0.25,train_size=0.75)

In [10]:
model.fit(X_train,y_train)
pred_2 = model.predict(X_test)
print(mean_absolute_error(pred_2,y_test))

870642.1960214053

In [11]:
model_2 = DecisionTreeRegressor(random_state=1)
model_2.fit(X_train,y_train)
pred_3 = model_2.predict(X_test)
print(mean_absolute_error(pred_3,y_test))

1245672.1411192215

In [12]:
from sklearn.ensemble import RandomForestRegressor
model_3 = RandomForestRegressor(random_state=0)
model_3.fit(X_train, y_train)
print(mean_absolute_error(y_test,model_3.predict(X_test)))

929805.291727494

In [13]:
missing = [cols for cols in X_train.columns
           if X_train[cols].isnull().any()]
print(missing)

[]

In [16]:
low_card = [cname for cname in X_train.columns if X_train[cname].nunique() < 10 and X_train[cname].dtype == 'objects']
num = [cname for cname in X_train.columns if X_train[cname].dtype in ["float64", "int64"]]
my_cols = low_card+num